<ion-header-bar class="bar-positive">
	<h1 class="title">首页</h1>
</ion-header-bar>

<ion-content>
	<ion-slide-box does-continue="true" auto-play="true" slide-interval="1000">
	  	<ion-slide>
	    	<img src="img/nav.jpg" alt="">
	  	</ion-slide>
	  	<ion-slide>
	    	<img src="img/nav.jpg" alt="">
	  	</ion-slide>
	  	<ion-slide>
	    	<img src="img/nav.jpg" alt="">
	  	</ion-slide>
	</ion-slide-box>

	<div class="row content1">
		<div class="col col-50">
			<div class="jiudian">
				<p>
					酒店<br>
					<i class="icon ion-home myfont"></i>
				</p>
				
			</div>	
		</div>
		<div class="col col-50">
			<div class="xiecheng">
				<p>
					<i class="icon ion-person myfont"></i><br>
					<span>我的携程</span>
					
				</p>
			</div>
		</div>
	</div>
	
	<div class="row content2">
		  <div class="col col-50">
		  	<div class="jipiao">
				<p>
					机票<br>
					<i class="icon ion-plane myfont"></i>
				</p>
						
		  </div>	
	</div>
  <div class="col">
  	<div class="huoche">
				<p>
					火车票<br>
					<i class="icon ion-android-train myfont"></i>
				</p>
						
		  </div>	
  </div>
  <div class="col">
  	<div class="qiche">
				<p>
					用车<br>
					<i class="icon ion-model-s myfont"></i>
				</p>
						
		  </div>	
  </div>
</div>

<div class="row content3">
  <div class="col col-33">
  	<div class="luyou">
				<p>
					旅游<br>
					<i class="icon ion-image myfont"></i>
				</p>
						
		  </div>	
  </div>
  <div class="col col-33">
  	<div class="jingdian">
				<p>
					景点门票<br>
					<i class="icon ion-pricetag myfont"></i>
				</p>
						
		  </div>	
  </div>
  <div class="col col-33">
  	<div class="gonglue">
				<p>
					攻略社区<br>
					<i class="icon ion-person-stalker myfont"></i>
				</p>
						
		  </div>	
  </div>
</div>
</ion-content>