<ion-tabs class="tabs-icon-top tabs-self">
	<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
		<ion-nav-view name="home-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="新闻" icon-on="ion-ios-chatboxes" icon-off="ion-ios-chatboxes-outline" badge="12" href="#/tab/detial">
		<ion-nav-view name="news-tab"></ion-nav-view>
	</ion-tab>
	<ion-tab title="社区" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
		
	</ion-tab>
	<ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
		
	</ion-tab>

</ion-tabs>